@model List<DatVeXemPhim.Areas.Admin.Models.Slide>
@{
    ViewBag.Title = "N7 Cinema";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var slides = (List<DatVeXemPhim.Areas.Admin.Models.Slide>)ViewBag.Slides;
    var listfilmdangchieu = (List<DatVeXemPhim.Areas.Admin.Models.Film>)ViewBag.NewFilms;
    var listfilmsapchieu = (List<DatVeXemPhim.Areas.Admin.Models.Film>)ViewBag.PhimSapChieu;
}

<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">NHOM 7 CINEMA</h1>
            <div class="list-group">
                <a href="@Url.Action("Index", "Home")" class="list-group-item">Phim đang chiếu</a>
                <a href="@Url.Action("Index", "Home")" class="list-group-item">Phim sắp chiếu</a>
                <a href="@Url.Action("Index", "Rap")" class="list-group-item">Rạp</a>
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    @{ int i = 0;}
                    @foreach (var item in slides)
                            {
                                i++;
                                var active = i == 1 ? "active" : "";
                        <div class="carousel-item @active">
                            <img class="d-block img-fluid" src="@Url.Content(item.Image)">
                        </div>
                    }

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="row">

                <div class="container">
                    
                    <nav class="navbar navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">Phim đang chiếu Hot</a>
                    </nav>
                    <hr class="nav-divider">
                </div>
                @foreach (var item in listfilmdangchieu)
                {

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="@Url.Action("Index", "Detail")/Index/@item.FilId"><img class="card-img-top" src="@item.Picture" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="@Url.Action("Index", "Detail")/Index/@item.FilId">@item.NameF</a>
                                </h4>
                                <h5>Đạo diễn :@item.Director   </h5>
                                <h5>Diễn viên :@item.Actor   </h5>
                                <h5>Thời lượng :@item.Duration   </h5>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>
                }
                <div class="container">
                    <hr class="nav-divider">
                    <nav class="navbar navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">Phim sắp chiếu</a>
                    </nav>
                    <hr class="nav-divider">
                </div>
                @foreach (var item in listfilmsapchieu)
                {

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="@Url.Action("Index", "Detail")/Index/@item.FilId"><img class="card-img-top" src="@item.Picture" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="@Url.Action("Index", "Detail")/Index/@item.FilId">@item.NameF</a>
                                </h4>
                                <h5>Đạo diễn :@item.Director   </h5>
                                <h5>Diễn viên :@item.Actor   </h5>
                                <h5>Thời lượng :@item.Duration   </h5>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>

